In [35]:
import numpy as np 
import pandas as pd

In [40]:
# 2. Refer to salaries.xlsx file and solve following questions
data = pd.read_excel("Salaries.xlsx")
data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,ANTIONETTE GRIFFIN,CLINICAL NURSE SPECIALIST,169572.08,0.00,250.00,NaN,169822.08,169822.08,2011,NaN,San Francisco,NaN
996,997,KATHERINE MAH,CLINICAL NURSE SPECIALIST,169572.06,0.00,250.00,NaN,169822.06,169822.06,2011,NaN,San Francisco,NaN
997,998,CHRISTINE DAVENPORT,CLINICAL NURSE SPECIALIST,169572.05,0.00,250.00,NaN,169822.05,169822.05,2011,NaN,San Francisco,NaN
998,999,ANNE HUGHES,CLINICAL NURSE SPECIALIST,169572.01,0.00,250.00,NaN,169822.01,169822.01,2011,NaN,San Francisco,NaN
999,1000,JOHN FAZIO,CLINICAL NURSE SPECIALIST,169572.00,0.00,250.00,NaN,169822.00,169822.00,2011,NaN,San Francisco,NaN

In [41]:
# a. Check head of the dataframe
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [44]:
# b. Find out details about no. of entries & no. of columns in the data frame
rows , cols = data.shape
rows

1000

In [45]:
cols

13

In [46]:
# c. What is the average base pay?
avg_base_pay = data['BasePay'].mean()
avg_base_pay

np.float64(145663.9982)

In [47]:
# d. What is the highest amount of overtime pay in the dataset?
highest_overtime_pay = data['OvertimePay'].max()
highest_overtime_pay

np.float64(245131.88)

In [49]:
# e. What is the job title of JOSEPH DRISCOLL?
job_title = data.loc[data['EmployeeName'] == 'JOSEPH DRISCOLL', 'JobTitle'].values[0]
job_title

'CAPTAIN, FIRE SUPPRESSION'

In [51]:
# f. How much does JOSEPH DRISCOLL make (including benefits)?
total_benifits = data.loc[data['EmployeeName'] == 'JOSEPH DRISCOLL', 'TotalPayBenefits'].values[0]
total_benifits

np.float64(270324.91)

In [55]:
# g. How many unique job titles are there?
unique_jobtitle = data["JobTitle"].nunique()
unique_jobtitle

113

In [63]:
# Top 5 most common job titles
top5_jobs = data['JobTitle'].value_counts().head(5)
top5_jobs

JobTitle
FIREFIGHTER                           133
LIEUTENANT, FIRE DEPARTMENT            62
FIRE FIGHTER PARAMEDIC                 43
CAPTAIN, FIRE SUPPRESSION              42
BATTALION CHIEF, (FIRE DEPARTMENT)     41
Name: count, dtype: int64